:root{
    --bg-button: rgb(191, 177, 196);
    --border-button: rgb(144, 109, 156);
}

.button{
    font-size: 1.4em;
    background-color:  var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}
.button:active{
    background-color: rgb(201, 143, 223);
}

.button.double{
    grid-column: span 2;
}
.button.triple{
    grid-column: span 3;
}
.button.operation {
    background-color: rgb(106, 49, 160);
    color: rgb(196, 255, 242);
}
.button.operation:active{
    background-color: blueviolet;
}